# Dependencies
node_modules

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage

# Build outputs
dist
build

# Logs and System
*.log
.DS_Store

client_secret_509035655906-9jsld7rrbgvufd5dikutkepgajsbv5q5.apps.googleusercontent.com.json